.select-wrap {
	padding: 16px;
	box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);
}
.code-wrap {
	display: flex;
}
.left-editor {
	width: 60%;
	padding-top: 16px;
	border-right: 1px solid #ebebeb;
}
.right {
	width: 40%;
	padding: 16px;
	max-height: calc(100vh - 64px);
    overflow-y: scroll;
}